<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add
      name="EntityAtos"
      connectionString="Data Source=localhost; Initial Catalog=CodeFirst; User ID=atos; password=senha123; language=Portuguese; TrustServerCertificate=True"
    />
  </connectionStrings>
</configuration>
